<button class="btn btn-light" id="backButton"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<h1 class="text-center">Edit Off Site Service</h1>

<%= form_for @off_site, url: { action: "update", params: { id: @off_site.id } } do |f| %>
  <div align="right">
    <%= f.submit "Save Off Site Sheet", class: "btn btn-success" %>
  </div>
  <%= render partial: 'form', locals: { f: f } %>
  <div align="right">
    <%= f.submit "Save Off Site Sheet", class: "btn btn-success" %>
  </div>
<% end %>
<div class="Footer-Space">

</div>
