<hr />

<h3>User ID</h3>
<%= f.number_field :userid, class: "form-control", placeholder: "User ID" %><br /><br />
<h3>Username</h3>
<%= f.text_field :name, class: "form-control", placeholder: "Username" %><br /><br />
<h3>Email</h3>
<%= f.text_field :email, class: "form-control", placeholder: "Email Address" %><br /><br />
<h3>Password</h3>
<%= f.password_field :password, class: "form-control", placeholder: "Password" %><br /><br />
