<div class="pad">
    <%= link_to '<< Back', adminarea_path, class: "btn btn-secondary" %>

    <h1>Edit Refurbished Computer Input Tags</h1>

    <div class="row">
        <div class="col-2">
            <p>Implement Nav system</p>
        </div>
        <div class="col-10">
            <h2>Computer Type</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Category</hh>
                        <th>Value</hh>
                        <th>Options</hh>
                    </tr>
                </thead>
                <tbody>
                    <% @computerType.each do |computer_type| %>
                        <tr>
                            <td><%= computer_type.catagory %></td>
                            <td><%= computer_type.value %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>