<div class="container">
    <h1>Admin Area</h1>
    <h2>Logged in as: <h2>
    <br />
    <%= link_to 'Edit Pre-Owned Computer Sheet', admin_computer_path, class: 'btn btn-primary btn-lg btn-block' %>
    <br />
    <%= link_to 'Edit Pre-Owned Display Sheet', admin_display_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>