<hr />
<h4>Category</h4>
<%= f.select :category, computer_categories, { }, { class: "form-control" } %><br /><br />
<h4>Sub Category</h4>
<%= f.select :sub_category, computer_sub_categories, { }, { class: "form-control" } %><br /><br />
<h4>Value</h4>
<%= f.text_field :value, class: "form-control", placeholder: "Value" %><br /><br />
