<div class="pad">
  <button class="btn btn-light" id="backButton"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  <%= form_for @computer, url: { action: "update", params: { id: @computer.id } } do |f| %>
    <h1>Edit Refurbished Computer Input Tag</h1>
    <%= render partial: 'form', locals: { f: f } %>
    <div>
      <%= f.submit "Save Tag", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
