<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center">
      <%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %>
    </td>
    <td align="center" colspan="5" valign="baseline" class="style2">Pre-owned Computer Specifications</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Type:</td>
    <td><select name="Computer Type" id="CompType">
      <option>Desktops:</option>
      <option>iMac Aluminum</option>
      <option>iMac Unibody</option>
      <option>iMac Slim</option>
      <option>iMac White</option>
      <option>Mac Mini</option>
      <option>Mac Mini Unibody</option>
      <option>Mac Pro</option>
      <option>Mac Pro Cylinder</option>
      <option>-----------</option>
      <option>Laptops: </option>
      <option>MacBook Pro</option>
      <option>MacBook Pro Unibody</option>
      <option>MacBook Pro Retina</option>
      <option>MacBook White</option>
      <option>MacBook Black</option>
      <option>MacBook White Unibody</option>
      <option>MacBook Alum Unibody</option>
      <option>MacBook Retina (USB-C)</option>
      <option>MacBook Air (1 x USB)</option>
      <option>MacBook Air Unibody</option>
      <option selected="selected">Select</option>
    </select></td>
    <td align="center" valign="middle" class="Label">Processor Speed: </td>
    <td><select name="ProcSpd" id="ProcSpd">
      <option>1.1 Ghz</option>
      <option>1.2 Ghz</option>
      <option>1.3 Ghz</option>
      <option>1.4 Ghz</option>
      <option>1.6 Ghz</option>
      <option>1.7 Ghz</option>
      <option>1.8 Ghz</option>
      <option>1.83 Ghz</option>
      <option>1.86 Ghz</option>
      <option>2.0 Ghz</option>
      <option>2.13 Ghz</option>
      <option>2.16 Ghz</option>
      <option>2.2 Ghz</option>
      <option>2.26 Ghz</option>
      <option>2.3 Ghz</option>
      <option>2.33 Ghz</option>
      <option>2.4 Ghz</option>
      <option>2.5 Ghz</option>
      <option>2.53 Ghz</option>
      <option>2.6 Ghz</option>
      <option>2.66 Ghz</option>
      <option>2.7 Ghz</option>
      <option>2.8 Ghz</option>
      <option>2.9 Ghz</option>
      <option>2.93 Ghz</option>
      <option>3.0 Ghz</option>
      <option>3.06 Ghz</option>
      <option>3.1 Ghz</option>
      <option>3.2 Ghz</option>
      <option>3.3 Ghz</option>
      <option>3.33 Ghz</option>
      <option>3.4 Ghz</option>
      <option>3.5 Ghz</option>
      <option>3.6 Ghz</option>
      <option>3.7 Ghz</option>
      <option>4.0 Ghz</option>
      <option selected="selected">Select</option>
    </select></td>
    <td align="center" valign="middle" class="Label">CPU Type: </td>
    <td>
    	<select name="CPUs" id="CPUs">
        <option>Core 2 Duo</option>
        <option>4-Core Xeon (4x Cores)</option>
        <option>6-Core Xeon (6x Cores)</option>
        <option>8-Core Xeon (8x Cores)</option>
        <option>12-Core Xeon (12x Cores)</option>
        <option>Core i3 (Dual Core)</option>
        <option>Core i5 (Dual Core)</option>
        <option>Core i7 (Dual Core)</option>
        <option>Core i5 Quad</option>
        <option>Core i7 Quad</option>
        <option>Core M</option>
        <option selected="selected">Select</option>
      </select>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Optical Drive:</td>
    <td>
    	<select name="OpticalDrive" id="OpticalDrive">
      	<option>N/A</option>
      	<option>SuperDrive SL</option>
      	<option>SuperDrive DL</option>
        <option>Dual SuperDrive SL</option>
        <option>Dual SuperDrive DL</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td align="center" valign="middle" class="Label">Card Slot:</td>
    <td>
        <select name="CardSlot" id="CardSlot">
          <option>N/A</option>
          <option>ExpressCard/34</option>
          <option>SD</option>
          <option selected="selected">Select</option>
        </select>
    </td>
    <td align="center" valign="middle" class="Label">Screen Size:</td>
    <td><select name="select7" id="select7">
      <option>N/A</option>
      <option>11 in.</option>
      <option>12 in.</option>
      <option>13 in.</option>
      <option>15 in.</option>
      <option>17 in.</option>
      <option>20 in.</option>
      <option>21.5 in.</option>
      <option>24 in.</option>
      <option>27 in.</option>
      <option selected="selected">Select</option>
    </select></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Hard Drive:</td>
    <td>
    	<select name="select3" id="select3">
        <option>120 GB</option>
        <option>160 GB</option>
        <option>250 GB</option>
        <option>320 GB</option>
        <option>500 GB</option>
        <option>640 GB</option>
        <option>750 GB</option>
        <option>1 TB</option>
        <option>2 TB</option>
        <option>3 TB</option>
        <option>4 TB</option>
        <option>1 TB Fusion</option>
        <option>4 TB Fusion</option>
        <option>128 GB SSD</option>
        <option>250 GB SSD</option>
        <option>512 GB SSD</option>
        <option>1 TB SSD</option>
        <option selected="selected">Select</option>
        <option>120 GB SSD</option>
        <option>240 GB SSD</option>
        <option>480 GB SSD</option>
        <option>960 GB SSD</option>
    	</select>
    </td>
    <td align="center" valign="middle" class="Label">WiFi:</td>
    <td>
    	<select name="select5" id="select5">
        <option>Yes</option>
        <option>No</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td align="center" valign="middle" class="Label">Bluetooth:</td>
    <td>
    	<select name="select5" id="select5">
        <option>Yes</option>
        <option>No</option>
        <option selected="selected">Select</option>
    	</select>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Installed RAM:</td>
    <td>
        <select name="select13" id="select13">
          <option>1 GB</option>
          <option>2 GB</option>
          <option>3 GB</option>
          <option>4 GB</option>
          <option>5 GB</option>
          <option>6 GB</option>
          <option>8 GB</option>
          <option>10 GB</option>
          <option>12 GB</option>
          <option>16 GB</option>
          <option>20 GB</option>
          <option>24 GB</option>
          <option>32 GB</option>
          <option>64 GB</option>
          <option selected="selected">Select</option>
        </select>
    </td>
    <td align="center" valign="middle" class="Label">Max RAM:</td>
    <td>
        <select name="select13" id="select13">
          <option>1 GB</option>
          <option>2 GB</option>
          <option>3 GB</option>
          <option>4 GB</option>
          <option>5 GB</option>
          <option>6 GB</option>
          <option>8 GB</option>
          <option>10 GB</option>
          <option>12 GB</option>
          <option>16 GB</option>
          <option>32 GB</option>
          <option>64 GB</option>
          <option>96 GB</option>
          <option>128 GB</option>
          <option selected="selected">Select</option>
        </select>
    </td>
    <td align="center" valign="middle" class="Label">Open Slots:</td>
    <td><select name="select12" id="select12">
      <option selected="selected">Select</option>
      <option>none</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
</select></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">OS:</td>
    <td><select name="select10" id="select10">
      <option selected="selected">Select</option>
      <option>Snow Leopard 10.6.8</option>
      <option>Lion 10.7.5</option>
      <option>Mountain Lion 10.8.5</option>
      <option>Mavericks 10.9.5</option>
      <option>Yosemite 10.10.5</option>
      <option>El Capitan 10.11.6</option>
      <option>Sierra 10.12.x</option>
    </select></td>
    <td align="center" valign="middle" class="Label">Max OS</td>
    <td><select name="select10" id="select10">
      <option selected="selected">Select</option>
      <option>Snow Leopard - 10.6</option>
      <option>Lion - 10.7</option>
      <option>El Capitan - 10.11</option>
      <option>Sierra - 10.12</option>
    </select></td>
    <td align="center" valign="middle" class="Label">Batt. Test Results:</td>
    <td><select name="select11" id="select11">
	  <option selected="selected">Select</option>
      <option>N/A</option>
      <option>Good</option>
      <option>Consumed</option>
      <option>Bad</option>
</select></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Video Card:</td>
    <td>
        <select name="select8" id="select8">
          <option>NVIDIA</option>
          <option>GeForce 320M</option>
          <option>GeForce 7300GT</option>
          <option>GeForce 7600GT</option>
          <option>GeForce 8600M GT</option>
          <option>GeForce 8800GS</option>
          <option>GeForce 8800GT</option>
          <option>GeForce 9400M</option>
          <option>GeForce 9600M GT</option>
          <option>GeForce GT 120</option>
          <option>GeForce GT 130</option>
          <option>GeForce GT 330M &amp; IHD</option>
          <option>GeForce GT 640M</option>
          <option>GeForce GT 650M</option>
          <option>GeForce GT 650M &amp; IHD 4000</option>
          <option>GeForce GT 750M</option>
          <option>GeForce GT 750M &amp; Iris 5200</option>
          <option>GeForce GT755M</option>
          <option>GeForce GTX 660M</option>
          <option>GeForce GTX 675MX</option>
          <option>GeForce GTX 680MX</option>
          <option>GeForce GTX 775M</option>
          <option>GeForce GTX 780M</option>
          <option>Quadro FX 4500</option>
          <option>Quadro FX 5600</option>
          <option>----------</option>
          <option>AMD/ATI</option>
          <option>FirePro D300 X2</option>
          <option>FirePro D500 X2</option>
          <option>FirePro D700 X2</option>
          <option>Radeon HD 2400XT</option>
          <option>Radeon HD 2600 Pro</option>
          <option>Radeon HD 2600XT</option>
          <option>Radeon HD 4670</option>
          <option>Radeon HD 4850</option>
          <option>Radeon HD 4870</option>
          <option>Radeon HD 5670</option>
          <option>Radeon HD 5750</option>
          <option>Radeon HD 5770</option>
          <option>Radeon HD 5870</option>
          <option>Radeon HD 6490M &amp; IHD 3000</option>
          <option>Radeon HD 6630M</option>
          <option>Radeon HD 6750M</option>
          <option>Radeon HD 6750M &amp; IHD 3000</option>
          <option>Radeon HD 6770M</option>
          <option>Radeon HD 6770M &amp; IHD 3000</option>
          <option>Radeon HD 6970M</option>
          <option>Radeon X1600</option>
          <option>Radeon X1900XT</option>
          <option>Radeon R9 M290</option>
          <option>Radeon R9 M290X</option>
          <option>Radeon R9 M295X</option>
          <option>Radeon R9 M370X</option>
          <option>----------</option>
          <option>Intel</option>
          <option>GMA 950</option>
          <option>GMA X3100</option>
          <option>HD Graphics</option>
          <option>HD Graphics 3000</option>
          <option>HD Graphics 4000</option>
          <option>HD Graphics 5000</option>
          <option>HD Graphics 5300</option>
          <option>HD Graphics 6000</option>
          <option>Iris 5100</option>
          <option>Iris 6100</option>
          <option>Iris Pro 5200</option>
          <option selected="selected">Select</option>
      </select>
    </td>
    <td align="center" valign="middle" class="Label">Video RAM:</td>
    <td>
        <select name="select9" id="select9">
          <option>64 MB Shared</option>
          <option>128 MB</option>
          <option>144 MB Shared</option>
          <option>256 MB</option>
          <option>256 MB Shared</option>
          <option>256 MB / 256 MB Shared</option>
          <option>256 MB / 384 MB Shared</option>
          <option>288 MB Shared</option>
          <option>384 MB Shared</option>
          <option>512 MB</option>
          <option>512 MB / 256 MB Shared</option>
          <option>1 GB</option>
          <option>1 GB / 384 MB Shared</option>
          <option>1.5 GB</option>
          <option>2 GB</option>
          <option>3 GB</option>
          <option>4 GB</option>
          <option>6 GB</option>
          <option selected="selected">Select</option>
        </select>
    </td>
    <td align="center" valign="middle" class="Label">Video Port:</td>
    <td><select name="select" id="select">
        <option>DVI</option>
        <option>DVI x 2</option>
        <option>DVI & Mini-DisplayPort</option>
        <option>DVI & Mini-DisplayPort x 2</option>
        <option>Mini-DVI</option>
        <option>Mini-DVI & Mini-DisplayPort</option>
        <option>Mini-DisplayPort</option>
        <option>Mini-DisplayPort & HDMI</option>
        <option>ThunderBolt</option>
        <option>ThunderBolt x 2</option>
        <option>ThunderBolt & HDMI</option>
        <option>ThunderBolt x 2 & HDMI</option>
        <option>ThunderBolt 2 x 6 & HDMI</option>
        <option>USB-C</option>
        <option selected="selected">Select</option>
    </select></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Serial #:</td>
    <td><input type="text" class="form-control" placeholder="Serial #", size="20"></td>
    <td align="center" valign="middle" class="Label">Code:</td>
    <td><input type="text" class="form-control" placeholder="Code", size="20"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Notes:</td>
    <td colspan="6"><input type="text", class="form-control", size="100"></td>
  </tr>
  <tr>
    <td height="10" colspan="6" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Footer">All pre-owned computers include a 90 day parts and labor warranty.*<br />
    All batteries are considered AS IS and do not carry any warranty.</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">*Warranty restrictions apply. Purchase price may be refunded rather than repairing at the discretion of LA Computer Company. <br />
Batteries purchased with used products do not qualify for any warranty including any Apple Repair Extension Programs or recalls.</td>
  </tr>
</table>
