<h1 align="center">RMA In-Progress Report</h1>
<p align="left">Technician
  <select name="tech" size="1" id="tech">
    <option>ID - Tech</option>
  </select>
</p>
<p align="left"> Machine	Type
  <select name="machinetype" id="machinetype">
    <option>Select One</option>
    <option> MacBook Plastic</option>
    <option> MacBook Unibody</option>
    <option> PowerBook G4</option>
    <option> MacBook Pro Unibody</option>
    <option> iMac Aluminum</option>
    <option> MacMini</option>
    <option> Mac Pro</option>
    <option>.</option>
    <option>Also write in Display Size!</option>
    <option>ADC Display -Clear Plastic</option>
    <option>Aluminum Display</option>
    <option>Black Aluminum Display</option>
  </select>
</p>
<p align="left"> Serial Number
  <input type="text" name="serial" id="serial" />
</p>
<p>&nbsp;</p>
<p>Known Good
    Parts:<br />
    <textarea name="good" cols="75" rows="7" id="good"></textarea>
</p>
<p>Known Bad
Parts:<br />
    <textarea name="bad" cols="75" rows="7" id="bad"></textarea>
</p>
<p>Test Run and Results (Raw data required, interpretation optional)<br />
    <textarea name="tests" cols="75" rows="7" id="tests"></textarea>
</p>
<p>&nbsp;</p>
<p>Misc notes<br />
  <textarea name="misc" cols="75" rows="7" id="misc"></textarea>
</p>
