<h1>LACC Back End</h1>
<%= link_to 'Computer RMA Sheets', rma_computer_path, type: "button", class: "btn btn-default" %><br /><br />
<%= link_to 'Display RMA Sheets', rma_display_path, type: "button", class: "btn btn-default" %><br /><br />
<%= link_to 'RMA Progress Report', rma_progress_path, type: "button", class: "btn btn-default" %><br /><br />
