<button class="btn btn-light" id="backButton"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<h1 class="text-center">New Client</h1>

<%= form_for :client, url: clients_path do |f| %>
  <%= f.submit "Create Client", class: "btn btn-success" %>
  <%= render partial: 'form', locals: { f: f } %>
  <div align="right">
    <%= f.submit "Create Client", class: "btn btn-success" %>
  </div>
<% end %>
