<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center"><%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %></td>
    <td align="center" colspan="5" valign="baseline" class="style2">Computer Trade-In</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td><u><b>Customer</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Name: </td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Phone Number: </td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">E-Mail:</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td><u><b>Model</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Type: </td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Year: </td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Serial #:</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><u><b>Specs</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Processor Speed: </td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">CPU Type: </td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Screen Size: </td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Hard Drive:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">OS:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Installed RAM:</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Video Card:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Video RAM:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Video Port:</td>
    <td><input type="text" class="form-control" size="20"></td>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Card Slot:</td>
    <td>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Yes
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">No
      </label>
    </td>
    <td align="center" valign="middle" class="Label">WiFi:</td>
    <td>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Yes
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">No
      </label>
    </td>
    <td align="center" valign="middle" class="Label">Bluetooth:</td>
    <td>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Yes
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">No
      </label>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">AppleCare?<br /> Until?:</td>
    <td>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Yes
      </label>
      <br />
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">No
      </label>
      <br />
      <input type="text" class="form-control" size="20">
    </td>
    <td align="center" valign="middle" class="Label">Optical Drive:</td>
    <td>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Working
      </label>
      <br />
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Not Working
      </label>
      <br />
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">N/A
      </label>
    </td>
    <td align="center" valign="middle" class="Label">Batt. Test Results:</td>
    <td>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Good
      </label>
      <br />
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">Bad
      </label>
      <br />
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">N/A
      </label>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Notes:</td>
    <td colspan="6"><%= text_area :notes, nil, {class: "form-control"} %></td>
  </tr>
  <tr>
    <td height="10" colspan="6" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">By signing above, I hereby agree that the included descriptions are accurate
      and complete, that I am the sole owner of the computer, and that it has not been reported stolen. All trade-ins are final. The trade-in
      value listed above was assessed on the current condition of equipment by LA Computer Company. LA Computer Company reserves the right to
      resell any equipment that has been traded in. Warranty cannot be transferred from computer to computer. LA Computer Company is not
      responsible for any data loss as well as LA Computer Company will be erasing ALL data from the hard drive at the time of trade-in.
      A valid ID is required for trade-in.</td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle">Trade-In Value: </td>
    <td align="center" valign="middle"><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" colspan="2">Print Name<br /><br />________________________________</td>
    <td align="center" valign="middle" colspan="2">Signature and Date<br /><br />________________________________</td>
  </tr>
</table>
