<h1>LACC</h1>
<%= link_to 'Sales', sale_sale_index_path, type: "button", class: "btn btn-default" %>
<%= link_to 'Service', service_service_index_path, type: "button", class: "btn btn-default" %>
<%= link_to 'LACC Back End', back_rmaindex_path, type: "button", class: "btn btn-default" %>
