<h1>LACC Back End</h1>
<%= link_to 'Computer Pre-Owned Sheets', usedcomputer_path, class: "btn btn-secondary" %><br /><br />
<%= link_to 'Trade-In Sheets', comuputertradein_path, class: "btn btn-secondary" %><br /><br />
<%= link_to 'Display Pre-Owned Sheets', useddisplay_path, class: "btn btn-secondary" %><br /><br />
<%= link_to 'One Sites', onsite_index_path, class: "btn btn-secondary" %>
