<h1>L.A. Computer Company</h1>
<%= link_to 'Service', service_service_index_path, type: "button", class: "btn btn-secondary" %>
<%= link_to 'LACC Back End', back_rmaindex_path, type: "button", class: "btn btn-secondary" %>
