<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center"><%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %></td>
    <td align="center" colspan="5" valign="baseline" class="style2">Pre-owned Display Specifications</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td>Brand:</td>
    <td colspan="2">
      <select>
        <option>Apple</option>
        <option>Acer</option>
        <option>Asus</option>
        <option>Dell</option>
        <option>Gateway</option>
        <option>HP</option>
        <option>LG</option>
        <option>Samsung</option>
        <option>Sony</option>
        <option>other: ________________</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td>Monitor Type:</td>
    <td>
      <select>
	  	<option>CRT</option>
	  	<option>ADC Display</option>
	  	<option>Aluminum Display</option>
	  	<option>Widescreen</option>
	  	<option>4:3</option>
      <option>4K / 2K Monitors</option>
      <option>Touchscreen Monitors</option>
      <option>UltraWide Monitors</option>
      <option>Curved Monitors</option>
      <option>other: ________________</option>
	  	<option selected="selected">Select</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Size:</td>
    <td colspan="2">
      <select>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
        <option>32</option>
        <option>33</option>
        <option>34</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td width="137">Optimal Resolution:</td>
    <td width="296">
      <input size="4" maxlength="4">
      x
      <input size="4" maxlength="4">
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Serial Number: </td>
    <td><input type="text" class="form-control" placeholder="Serial #" width="296"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Notes:</td>
    <td colspan="6"><input type="text" class="form-control" size="100"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Footer">All pre-owned displays include a 90 day parts and labor warranty.*</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">*Warranty restrictions apply. Purchase price may be refunded rather than repairing at the discretion of LA Computer Company. <br />
      Batteries purchased with used products do not qualify for any warranty including any Apple Repair Extension Programs or recalls.</td>
  </tr>
</table>
