<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center"><%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %></td>
    <td align="center" colspan="5" valign="baseline" class="style2">Pre-owned Display Specifications</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  </tr>
  <tr>
    <td width="52" height="30">Brand:</td>
    <td width="129">
      <select>
        <option>Apple</option>
        <option>Samsung</option>
        <option>Sony</option>
        <option>Dell</option>
        <option>LG</option>
        <option>Gateway</option>
        <option>HP</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td width="125">Monitor Type:</td>
    <td width="125">
      <select name="CPUs" id="CPUs">
	  	<option>CRT</option>
	  	<option>ADC Display</option>
	  	<option>Aluminum Display</option>
	  	<option>Widescreen</option>
	  	<option>4:3</option>
	  	<option selected="selected">Select</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="82">Size:</td>
    <td width="185">
      <select>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
        <option>32</option>
        <option>33</option>
        <option>34</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td width="137">Optimal Resolution:</td>
    <td width="296">
      <input size="4" maxlength="4" />
      x
      <input size="4" maxlength="4" />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Serial Number: </td>
    <td><input type="text" class="form-control" placeholder="Serial #" size="50"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Notes:</td>
    <td colspan="6"><input type="text", class="form-control", size="100" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Cleaned/Checked by:</td>
    <td colspan="6"><textarea cols="90" ></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Footer">All pre-owned displays include a 90 day parts and labor warranty.*<br />
      All batteries are considered AS IS and do not carry any warranty.</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">*Warranty restrictions apply. Purchase price may be refunded rather than repairing at the discretion of LA Computer Company. <br />
      Batteries purchased with used products do not qualify for any warranty including any Apple Repair Extension Programs or recalls.</td>
  </tr>
</table>
