<h1>LACC Back End</h1>
<%= link_to 'Computer RMA Sheets', back_computer_path, type: "button", class: "btn btn-default" %><br /><br />
<%= link_to 'Display RMA Sheets', back_display_path, type: "button", class: "btn btn-default" %><br /><br />
<%= link_to 'RMA Progress Report', back_progress_path, type: "button", class: "btn btn-default" %><br /><br />
