<h1>LACC Back End</h1>
<%= link_to 'Computer Pre-Owned Sheets', back_computer_path, class: "btn btn-secondary" %><br /><br />
<%= link_to 'Trade-In Sheets', back_computer_trade_in_path, class: "btn btn-secondary" %><br /><br />
<%= link_to 'Display Pre-Owned Sheets', back_display_path, class: "btn btn-secondary" %><br /><br />
