<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center"><%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %></td>
    <td align="left" class="Label">
      2993 E. White Star Ave.<br />
      Anaheim, VA 92806<br />
      Phone: 714-630-8200<br />
      www.lacomputercompany.com
    </td>
    <td align="left" colspan="3" valign="baseline" class="style2">On Site Service</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td><u><b>Customer</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Name:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Company Name:</td>
    <td colspan="2"><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="Label">Phone Number:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">Alt Phone Number:</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <td align="center" valign="middle" class="Label">E-Mail:</td>
  <td colspan="4"><input type="text" class="form-control" size="20"></td>
  <tr>
    <td align="center" valign="middle" class="Label">Address:</td>
    <td colspan="2"><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle" class="Label">
      St:
      <select>
        <option>CA</option>
      </select>
    </td>
    <td align="center" valign="middle" class="Label">Zip:</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><u><b>On-Site Information</b></u></td>
  </tr>
  <tr>
    <td colspan="3">
      Date:
      <select>
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
        <option selected="selected">Select</option>
      </select>
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
        <option selected="selected">Select</option>
      </select>
    </td>
    <td colspan="3">
      Time:
      <select>
        <option>12</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option selected="selected">Select</option>
      </select>
      <select>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
        <option>35</option>
        <option>40</option>
        <option>45</option>
        <option>50</option>
        <option>55</option>
        <option>00</option>
        <option selected="selected">Select</option>
      </select>
      <select>
        <option>AM</option>
        <option>PM</option>
        <option selected="selected">Select</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Symptoms:</td>
  </tr>
  <tr>
    <td colspan="6"><textarea cols="100" rows="3"></textarea></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><u><b>Parts Needed</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle">Part:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle">Price: $</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle">Part:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle">Price: $</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle">Part:</td>
    <td><input type="text" class="form-control" size="20"></td>
    <td align="center" valign="middle">Price: $</td>
    <td><input type="text" class="form-control" size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><u><b>Resolution</b></u></td>
  </tr>
  <tr>
    <td>Notes:</td>
  </tr>
  <tr>
    <td colspan="4"><textarea cols="60" rows="8"></textarea></td>
    <td colspan="2">
      OnSite: __________________<br /><br />
      Parts: ___________________<br /><br />
      Subtotal: ________________<br /><br />
      Tax: _____________________<br /><br />
      Total: ___________________<br /><br />
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">L.A Computer Company will not be responsible
      for any data in customer's hard drive. There will be a charge for repairs under warranty if the problem is
      deemed to be software rather than hardware.</td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" colspan="3">Print Name ________________________________</td>
    <td align="center" valign="middle" colspan="3">Signature and Date ________________________________</td>
  </tr>
  </table>
