<h1 class="text-center">On Sites</h1>
<button class="btn btn-info" id="onsite-open"><i class="fa fa-list"></i></button>

<div class="sidebar bg-light" id="onsite-menu">
  <%= render partial: 'list' %>
</div>

<hr />

<div class="calendar">
  <%= render partial: 'calendar' %>
</div>
