<button class="btn btn-light" id="backButton"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<h1 align="center">New On Site Service</h1>

<%= form_for @onsite, url: { action: "create", params: { id: @onsite.id } } do |f| %>
  <div align="right">
    <%= f.submit "Create On Site Service", class: "btn btn-success" %>
  </div>
  <%= render partial: 'form', locals: { f: f } %>
  <div align="right">
    <%= f.submit "Create On-Site Service", class: "btn btn-success" %>
  </div>
<% end %>

<div class="Footer-Space">

</div>
