/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 *= require jquery-ui
 */

// Will hide specified elements when printing
@media print {
  #navigation, #backButton {
    display: none;
  }
}

.popover {
  width: 275px;
  height: 400px;
}

.style2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #000000;
}

.Label {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
  text-align: center;
  margin: 1em;
}

.Footer {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.Title {
	font-weight: bold;
	text-decoration: underline;
}

.Footer-Space {
  height: 100px;
}

textarea:disabled {
  color: black;
}

input:disabled {
  color: black;
}

#containerElem .popover {
  width: 275px;
  height: 250px;
}

// Custom bootstrap variables must be set or imported before bootstrap.
$input-color: black;

@import "bootstrap";
@import "font-awesome";
